body {
  width: 320px;
  margin: 0;
}

#my-name {
  margin: 16px;
}

.fa-xl { font-size: 25px; }

.wrapper {
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: auto auto auto auto;
  background-image: url(assets/images/image_geometry_1.svg);
  background-repeat: no-repeat;
  background-size: 111px 74px;
  background-color: #fff;
  margin: 0;
  align-items: center;
}

.main {
  display: flex;
  justify-content: end;
  margin: 19px 16px 0 0;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.section-header {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
  margin-top: 0;
}

.my-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1a2236;
  height: 50px;
  width: 288px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-justify: distribute;
}

.notes {
  width: 288px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

/* Works section  */
.project { background-color: #1a2236; }

.project-img {
  width: 320px;
  height: 186px;
  margin: 0;
}

.project-name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.project-tools {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.project-tool {
  background-color: #98dede;
  padding: 7px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  margin: 5px;
}

.see-project {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  width: 50%;
  margin-bottom: 30px;
}

/* Trying to fix the container issue in projects  */
.project header,
.project-tools,
.see-project { margin-left: 20px; }

.about-info {
  display: flex;
  flex-direction: column;
  width: 289px;
  height: 289px;
  justify-content: center;
  margin-top: 20px;
  /* border: 3px solid red; */
}

.bg-blue { 
  background-color: #1c528a;
  background-image: url(assets/images/ic_languages_mob.svg);
  background-repeat: no-repeat;
  background-size: 102px 102px;
  background-position: 100% 100%;
}
.bg-red { 
  background-color: #e2505c;
  background-image: url(assets/images/Group\ 18.png);
  background-repeat: no-repeat;
  background-size: 102.22px 102.22px;
  background-position: 100% 100%;
}
.bg-yellow { 
  background-color: #febf52;
  background-image: url(assets/images/ic_skills.png);
  background-repeat: no-repeat;
  background-size: 102px 102px;
  background-position: 100% 100%;
}

.about-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.about-info li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
  list-style-position: inside;
}

.about-info ul, .about-title {
  margin-left: 30px;
  padding-left: 0;
}
